<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	
		<connectionStrings>
    <add name="MyConnection" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\YourDatabaseName.mdf;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="PersonnelFinanceManager.Properties.Settings.FInanceManagerConnectionString"
      connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\FInanceManager.mdf;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
	

</configuration>